body, header, footer, div, h1, h2, h3, h4, h5, h6{
    margin: 0 auto;
}

.cabecera{
    width: 100%;
    height: 105px;
}

 .logo{
    padding-left: 80px;
     height: auto;
     float: left;
 }

 .menu{
     height: 100%;
     padding-left: 100px;
     float: left;
 }

 .menu div{
    display: inline-block;
    height: 100%;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 40px;
}

 .cuerpo{
     width: 90%;
     height: 1800px;
     background-color: rgb(223, 203, 195);
 }

 .pie{
     width: 100%;
     height: 100px;
     background-color: white;
 }

 .titulo{
     padding-top: 40px;
     text-align: center;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 .carrusel .carousel-item{
     height: 400px;
 }

 .img{
     display: inline-block;
     margin: 1% 1%;
 }

.imagen-prod{
    width: 80%;
    margin-top: 40px;
    text-align: center;
}

body{
    background-color: white;
}

.descripcion{
    background-color: turquoise;
}

.precio{
    background-color: turquoise;
    border-top: 1px solid grey;
}

.menu div:hover{
    background-color:  rgb(240, 230, 226);
}

.nosotros1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 40px;
    border-top: 1px solid grey;
    border-bottom: 1px solid gray;
}

.logo2{
    padding-left: 60px;
    float: left;
}

.datos{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 30px;
    padding-top: 20px;
    float: left;
}

.redes{
    padding-top: 25px;
    padding-right: 40px;
    float: right;
}

.menu span{
    font-family: fantasy;
    font-size: 15px;
    color: black;
    text-transform: none;
}

.nosotros1 div{
    padding-right: 2%;
    padding-left: 2%;
}

.menu a{
    text-decoration: none;
}

#boton{
    width: 250px;
    margin-top: 35px;
    margin-left: 40%;
    border-radius: 5px;
    border: none;
    background-color: firebrick;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#ubicacion{
    text-align: center;
    padding-top: 30px;
}



