.cabecera {
  width: 100%;
  height: 150px;
  background-color: black;
  border-bottom: 2px solid white;
  margin: auto;
}

.logo {
  /*margin-left: 30%;*/
  text-align: center;
}

.menu {
  float: left;
  background-color: black;
  width: 100%;
  white-space: 10px;
  font-size: 0;
}

.menu div {
  display: inline-block;
  height: 100%;
  height: 100%;
  width: 25%;
  text-align: center;
  /*padding-right: 103px;
  padding-left: 142px;
  line-height: 25px;*/
}

.menu div:hover {
  background-color: #d674b1;
}

.menu span {
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cuerpo {
  width: 100%;
  height: 830px;
  background-color: #000000;
  padding-top: 25px;
}

.menu a {
  text-decoration: none;
}

.selected {
  font-weight: bold;
}

.carrusel {
  width: 100%;
  height: 800px;
  background-size: cover;
}

.carousel .carousel-item {
  width: 1200px;
  padding-left: 143px;
}

.pie {
  width: 100%;
  height: 120px;
  border-top: 2px solid #a9a9a9;
  background-color: dimgrey;
}

.contenedor-info-contacto {
  width: 50%;
  height: 100%;
  float: left;
  font-family: "Open Sans";
  font-weight: bold;
}

.logo-footer {
  margin-left: 15px;
  margin-right: 10px;
  /*width: 25%;*/
  height: 100%;
  padding-top: 20px;
  float: left;
}

.info-contacto {
  padding-top: 20px;
  font-size: 18px;
}

.redes {
  width: 50%;
  height: 100%;
  float: right;
  padding-right: 15px;
}

.redes a {
  text-decoration: none;
}

.redes img {
  margin-top: 35px;
  margin-right: 2px;
  height: 50px;
  float: right;
}