body, header, .footer, div, h1, h2, h3, h4, h5{
    margin: 0 auto;
}}
.h1{
    color:rgb(0, 0, 0);
    font-size: 55px;
    font-family: Arial; 
}
.h2{
    color:rgb(0, 0, 0);
    font-size: 20px;
    font-family: Arial; 
    
}
.h3{
    color:rgb(0, 0, 0);
    font-size: 15px;
    font-family: Arial; 

}
.body{
    background-color: silver;
    margin: 10px;
}
/*header*/
.header{
    background-color: rgb(148, 148, 148);
    width: 100%;
    height: 80px;
}
.nombreLogo{
    background-color:rgb(255, 255, 255);
    width: 120px;
    height: 60px;
    float: left;
    margin: 10px;           
}
.menu{
    height: 100%;
    padding-left: 100px;
    float: left;
}
.menu div{
    /*El valor por defecto es block*/
    display: inline-block;
    height: 100%;
    padding-right: 40px;
    padding-left: 40px;
    line-height: 110px;
}
.menu div:hover{
    background-color: #e6e6e6;
}

.menu a{
    text-decoration: none;
}
.menu span{
    font-size: 25px;
    color: rgb(0, 0, 0);
    /*Transformo texto a mayuscula*/
    text-transform: uppercase;
    font-stretch: wider;
    font-family: Verdana;
    
}
.selected{
    font-weight: bold;
}
.rightUpBox{
    background-color:rgb(255, 255, 255);
    width: 200px;
    height: 60px;
    float: right;
    margin: 10px;
  
}
/*midBody*/
.midBody{
    background-color: rgb(119, 0, 0);
    width: 100%;
    
}
.carrusel{
    background-color: blueviolet;
    width: 70%;
   
}
.carousel .carousel-item {
    height: 500px;
 
  }
  
.carousel-item img {
    position: absolute ;
    top: 5;
    left: 0;
    min-height: 450px;
} 
/*.img-uno{
    background-image: url("../img/img-uno.jfif");
    background-size: cover;
}
.img-dos{
    background-image: url("../img/img-dos.jpg");
    background-size: cover;
}
.img-tres{
    background-image: url("../img/img-tres.png");
    background-size: cover;
}*/

.bio{
    background-color: chocolate;    
    width: 100%;
    font-size: 0;
    text-align: left;
    
}
.bio-box{
    background-color: rgb(172, 172, 255);
    width: 90%;
    text-align: left;
    margin-top: 30px;
  }   
    
}
.bio-pregunta h2{
    font-size: 18px;
    text-align: left;
}
.bio-respuesta{
    font-size: 16px;
    font-family: "Lucida Sans";
    text-align: left;
}
.footer{
    background-color: rgb(148, 148, 148);
    width: 100%;
    height: 100px;
}

.leftFootBox{
    background-color:rgb(255, 255, 255);
    width: 250px;
    height: 80px;
    float: left;
    margin: 10px;      
}
.rightFootBox{
    background-color:rgb(255, 255, 255);
    width: 190px;
    height: 60px;
    float: right;
    margin: 20px; 
}    
